/* header with display:inline-block */
.header {
    margin: 0 auto;
    position: fixed;
    left: 140px;
    top: 30px;
    z-index: 100;
    display: flex;
    /* justify-content: space-between; არ იმუშავა, ვიკითხო რატომ */
}
.logo-atag {
    vertical-align: middle;
}
.navigation {
    vertical-align: middle;
    margin-left: 439px;  
}
.navigation-ul {
    display: flex;
}
.list-item-atag {
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
}
.active {
    color: #5863F8;
}
/* main slider */
.main-slider {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.main-slider-image {
    width: 100%;
}

.h1-about-us {
    font-size: 42px;
    color: #FFFFFF;
    position: absolute;
    top: 146px;
    left: 139px;
    font-family: 'Poppins', sans-serif;
}
.home-shortcut {
    position: absolute;
    color: #FFFFFF;
    top: 219px;
    left: 139px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.separator {
    width: 1px;
    height: 19px;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 219px;
    left: 195.5px;
    /* font-family: ; */
}
.about-us-shortcut {
    position: absolute;
    color: #FFFFFF;
    top: 219px;
    left: 212px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

/* section 01 */
.section-wraper {
    width: 1092px;
    margin-top: 128px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
}
.text-wraper {
    width: 444px;
    vertical-align: middle;
}
.about-us-2nd-shortcut {
    text-transform: uppercase;
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.h2-trust-and-quality {
    font-size: 42px;
    width: 374px;
    font-family: 'Poppins', sans-serif;
    margin-top: 1px;
}
.p-main-text {
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.button-read-more {
    background-color: #5863F8;
    width: 184px;
    height: 50px;
    margin-top: 20px;
    position: relative;
}

.button-text {
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 19.6px;
    padding-right: 65px;
    padding-bottom: 15px;
    padding-left: 45px;
    font-family: 'Poppins', sans-serif;
}
.arrow-right {
    position: absolute;
    top: 19.6px;
    left: 129px;
}

.albom {
    vertical-align: middle;
}

.pic-top {
    width: 260px;
    height: 185px;
    display: inline-block;
    background-color: #5863F8;
    border-color: black;
}
.pic-left {
    margin-right: 16px;
}
.pic-bottom {
    width: 536px;
    margin-top: 16px;
}

/* section 02 */
.background-image-box {
    background-image: url(../images/background\ plants.png);
    width: 1366px;
    height: 612px;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}


.about-us-3 {
    position: absolute;
    top: 92px;
    left: 139px;
    font-family: 'Poppins', sans-serif;
}
.h-white {
    position: absolute;
    top: 113px;
    left: 139px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.boxes { 
    position: absolute;
    top: 262px;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 1200px;
    justify-content: space-between;
    flex-wrap: wrap;


}

/* individual boxes */
.box-amenities {
    background-color: #FFFFFF;
    width: 260px;
    height: 260px;
    display: inline-block;
    margin-top: 34px;
}
.hotel-icon {
    background-color: #5863F8;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    padding-left: 50px;
    position: relative;
    margin-left: 100px;
    margin-top: 27px;
}
.hotel-image {
    position: absolute; 
    top: 13px;
    left: 13px;
    margin-bottom: 15px;
}
.h2-amenities {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 166px;
    margin-left: 47px;
    text-align: center;
    margin-top: 15px;
}
.p-amenities {
    font-size: 14px;
    color: #B1B1B1;
    text-align: center;
    margin-top: 20px;
}

/* section 03 */
.marcus {
    margin-top: 34px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 19px;
    margin-bottom: 20px;
}
.section03-background-image {
    background-image:url(../images/hotel\ room.png);
    width: 583px;
    height: 487px;
    top: 0;
    right: 0px;
    position: absolute;

}
.marcus-box {
    width: 352px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.section-wraper-03 {
    background-color: #F8F8F8;
    width: 1366px;
    width: 1366px;
    height: 487px;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 128px;
    padding-left: 139px;
    position: relative;
}
.sw04 {
    padding-left: 0;
    height: auto;
    background-color: #FFFFFF;
}
.tw04 {
    padding-left: 139px;
}
.portfolio {
    display: flex;
    width: 1366px;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    left: 0;
}
footer {
    background-color: #121212;
    padding-top: 90px;
    width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
} 
.footer-logo {
    width: 148px;
}
.small-description {
     color: #B1B1B1;
     width: 260px;
     margin-top: 20px;
     font-family: 'Poppins', sans-serif;
}
.social {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10.4px;
    
}
.fb {
    background-color: #5863F8;
}
.twitter {
    background-color: #55ACEE;
}
.google {
    background-color: #DC4E41;
}
.fa-brands {
    color: white;
    
}
.parent-social {
    display: flex;
}
.footer-headings {
    font-size:18px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.footer-ul {
    padding-top: 20px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-list-item {
    color:#5863F8;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.contact-icons {
    color: #5863F8;
}
.footer-contact {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
span {
    display: inline-block;
    color: #B1B1B1;
    margin-top: 54px;
    font-family: 'Poppins', sans-serif;
}